body {
	font: 'Raleway', sans-serif;
	color: rgba(0,0,0,.41);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top: 15%;
	background: linear-gradient(to right, #E7FC69, #50DD2E);
	width: 100%;

}

h1 {
	font: 600 2.8em 'Raleway', sans-serif;
	color: rgba(0,0,0,.41);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
	color: rgba(0,0,0,1.1);
	text-align: center;
	text-transform: none;
	letter-spacing: .01em;
}

p {
	width: 100%;
}

div {
	padding-top: 200px;
}

#hex1 {
	font-weight: bold;
}

#hex2 {
	font-weight: bold;
}
